@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html,body {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    height: 100%;
    display: grid;
    place-items: center;
    /* align-items: center;
    justify-content: center; */
}

body {
    background-color: #f5f5f5;
    height: max-content;
}

h4:hover{
     transform: scale(1.2);
     transition: transform 0.15s ease-in-out;
}

#btn {
    background-color: transparent;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size:medium;
    font-weight: 500;
}
.container {
    /* height: 50vh; */
    margin-top: 10%;
    display: grid;
    place-items: center;
    /* overflow: auto; */
    /* align-items: center;
    justify-content: center; */

}
.text-box {
    min-height: 100px;
    margin-bottom : 50px;
    display: flex;
    place-items: center;
    align-items: center;

}

.text-box {
    height:40%;
    width:600px;
    color: rgba(0, 0, 0, 0.79);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.437);
    background-color: #ffffff;
}

form {
    width: 50%;
}
input{
    outline:none;
    border-radius: 5px;
    width:100%;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgba(0, 0, 0, 0.287);
    background-color:rgba(255, 255, 255, 0.802);
    font-size: 15px;
}

/* img {
    height:200px;
    width:200px;
} */

nav {
    background-color: #f5f5f5;
    height : 3rem;
    font-size:larger;
    display: flex;
    align-items: center;
    /* filter :blur(16px); */
    box-shadow: -1px 3px 5px rgba(25, 24, 24, 0.432);
    font-family: 'Ubuntu', sans-serif;
}
.nav-center {
  width: 90vw;
  /* max-width: var(--fixed-width); */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links, ul{
    display: flex;
    list-style-type: none;
}
nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}
.social a.visited, .social a {
    color:rgb(31, 31, 228);
    text-decoration: none;
transition: transform 0.3s ease-in-out;
}
/* .social a {
    text-decoration : none;
} */
li:hover {
     transform: scale(1.2);
     transition: transform 0.15s ease-in-out;
}

a:hover {
  transform: skew(20deg);
}
.social:hover {
    text-shadow: 0px  0px 1px rgb(234, 234, 243),
                 0px 0px 2px  rgb(31, 31, 228);
}

/* Information Div */

.user-info {
    width: 50%;
    min-height: 200px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1%;
    font-family: 'Work Sans', sans-serif;

}

.chart-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 200px; */
}
.bar {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    width: 70vw;
    margin-top:10%;
}
/* .p-d {
    width:70vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    margin-top: 10%;
} */